main {
  width: calc(100vw);
  display: flex;
  flex-direction: row;
  visibility: hidden;
}

.house-item {
  display: flex;
  align-items: center;
}

.info {
  margin-left: 20px;
  width: 200px;
}

.info p {
  font-size: 15px;
  margin-top: 5px;
  font-family: Microsoft YaHei, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 18px;
}

.text {
  height: 75px;
}

.info a,
.option div {
  margin-top: 8px;
  font-size: 15px;
  color: #28afb0;
}

.option {
  margin-top: 3px;
  margin-bottom: 5px;
}

.option img {
  margin-top: 10px;
}

.option div:hover {
  cursor: pointer;
}

#map {
  height: 90%;
  width: calc(90% - 350px);
  margin: 0;
}

.renting-houses-area {
  height: 90%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
}

.renting-houses-area::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

.renting-houses-area::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: rgba(100, 149, 237, 0.1);
}

.renting-houses-area::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: white;
}

.go-rent {
  margin-right: 20px;
}

.check {
  position: absolute;
  top: calc(7% + 60px);
  left: calc(4% + 10px);
  padding: 0 10px;
  border-radius: 10px;
  z-index: 200;
  background-color: #d8e6fc;
  box-shadow: 3px 2px 2px rgb(53, 51, 51);
  height: 30px;
  width: 175px;
  font-size: 17px;
}

.form-switch {
  margin-top: 3px;
  margin-left: 5px;
}

.check label {
  margin-top: 3px;
}

.radio {
  display: none;
  position: absolute;
  top: calc(7% + 60px);
  left: calc((100vw - 600px) / 2);
  z-index: 300;
  background-color: #aeced2;
  border-radius: 300px;
  padding: 10px 10px 9px 20px;
  box-shadow: 3px 3px 3px gray;
}

.form-check {
  margin-top: 2px;
}

.radio label {
  margin-top: 3px;
}

.item-selected {
  background-color: #d8e6fc;
}

.item-not-selected:hover {
  background-color: azure;
}

li:hover {
  cursor: pointer;
}

.no-like {
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.no-like h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.no-like a {
  font-size: 20px;
  color: #28afb0;
}
