main {
  /* margin-left: 15px; */
  width: calc(100vw);
  display: flex;
  flex-direction: row;
  visibility: hidden;
  /* display: none; */
  /* justify-content: space-around; */
  /* justify-content: center; */
}

.house-item {
  /* margin: 0 20px; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* height: 110px; */
}

.info {
  margin-left: 20px;
  width: 200px;
}

.info p {
  font-size: 15px;
  margin-top: 5px;
  font-family: Microsoft YaHei, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 18px;
}

.text {
  height: 75px;
}

.address {
  /* height: 36px; */
}

.info a,
.option div {
  margin-top: 8px;
  font-size: 15px;
  color: #28afb0;
}

.option {
  margin-top: 3px;
  margin-bottom: 5px;
}

.option img {
  margin-top: 10px;
}

.option div:hover {
  cursor: pointer;
  /* background-color: black; */
}

#map {
  /* margin-top: 10px; */
  height: 90%;
  /* height: 100vh; */
  width: calc(90% - 350px);
  /* margin: 10px auto; */
  /* margin:  auto; */
  /* margin-bottom: 15px; */
  margin: 0;
}

.renting-houses-area {
  /* max-height: 90px; */
  height: 90%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
}



/* #comment-body {
  overflow: scroll;
} */

.renting-houses-area::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

.renting-houses-area::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  /* background-color: #7e8c9e; */
  /* background-color: 	cornflowerblue; */
  background-color: rgba(100, 149, 237, 0.1);
}

.renting-houses-area::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: white;
}

.go-rent {
  margin-right: 20px;
}

.check {
  position: absolute;
  top: calc(7% + 60px);
  left: calc(4% + 10px);
  padding: 0 10px;
  border-radius: 10px;
  z-index: 200;
  /* background-color: aliceblue; */
  /* background-color: #D8E6FC; */
  
  /* background-color: #aeced2; */
  background-color: #d8e6fc;
  /* background-color: #D98E6F; */

  /* background-color: #85A4B3; */
  /* border-color: black; */
  /* border: 2px solid #85A4B3; */

  box-shadow: 3px 2px 2px rgb(53, 51, 51);
  height: 30px;
  width: 175px;
  font-size: 17px;
}

/* .check input {
  margin-top: 5px;
} */
.form-switch {
  margin-top: 3px;
  margin-left: 5px;
}


.check label {
  margin-top: 3px;
  /* font-size: 15px; */
  /* margin-bottom: 1px; */
}

.check input:checked {
  /* user-select: none; */
  /* color: black; */
  /* background-color: #D98E6F; */
  /* background-color: red; */
}

.radio {
  display: none;
  position: absolute;
  top: calc(7% + 60px);
  left: calc((100vw - 600px) / 2);
  z-index: 300;
  /* background-color: #EFC2CE; */
  /* background-color: #85A4B3; */
  background-color: #aeced2;
  border-radius: 300px;
  padding: 10px 10px 9px 20px;
  box-shadow: 3px 3px 3px gray;
}

.form-check {
  margin-top: 2px;
}

.radio label {
  margin-top: 3px;
}

/* .list-group-item[aria-expanded='true'] {
  background-color: black !important;
  border-color: #aed248;
} */

.item-selected {
  /* background-color: #F9EBAE; */
  background-color: #d8e6fc;
}

.item-not-selected:hover {
  background-color: azure;
}

li:hover {
  cursor: pointer;
}

/* main {
  display: none;
  visibility: hidden;
} */

.no-like {
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  /* position: fixed;
  left: calc(50vw - 50px - 35px);
  top: calc(50vh - 50px - 35px); */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  /* visibility: hidden; */
  /* visibility: inherit; */
}

.no-like h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.no-like a {
  font-size: 20px;
  color: #28afb0;
}
