html,
body {
  height: calc(100vh - 50px);
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 40px;
  background-color: white;
}

.logo {
  display: flex;
  margin-left: 30px;
}

.logo:hover {
  color: black;
}

.logo p {
  margin-top: 9px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
}

.blank {
  flex-grow: 1;
}

.nav {
  margin-right: 50px;
}

.nav:hover {
  color: gray;
  cursor: pointer;
}

.nav a:hover {
  color: gray;
}

.nav div:hover {
  color: gray;
  cursor: pointer;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
