html,
body {
  /* height: 100%; */
  height: calc(100vh - 50px) ;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url('./assets/background.jfif'); */
  /* background-color: bisque; */
  background-color: aliceblue; 
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  /* width: 100vw; */
  /* position: fixed; */
  border-bottom: 40px;
  background-color: white;
}


.logo {
  display: flex;
  /* margin-right: 500px; */
  
  margin-left: 100px;
}

.logo:hover {
  color: black;
}

.logo p {
  margin-top: 14px;
  font-size: 20px;
}

.blank {
  flex-grow: 1;
}

.nav {
  margin-right: 50px;
}


.nav a:hover {
  color: gray;
}

.nav div:hover {
  color: gray;
  cursor: pointer;
}