.test {
  /* font-size: 100px; */
}

.house-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 20px;
  max-width: 200px;
  font-family: Microsoft YaHei, Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2px;
}

.house-info > img {
  /* 125 100 */
  /* width: 120px;
  height: 96px; */
  margin-bottom: 1px;
}

.house-info p {
  margin-top: 2px;
}

.house-info a {
  color: #28AFB0;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1px;
  margin-left: 2px;
  display: inline;
  height: 20px;
  /* margin-right: 127px; */
}

.house-info a:hover {
  cursor: pointer;
}

.heart {
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.heart:hover {
  cursor: pointer;
}

button {
  padding: 0;
}

.option {
  display: flex;
  justify-content: space-between;
  height: 20px;
  align-items: center;
}