.house-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 20px;
  max-width: 200px;
  font-family: Microsoft YaHei, Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2px;
}

.house-info > img {
  margin-top: 12px;
  margin-bottom: 1px;
}

.house-info p {
  margin-top: 4px;
  max-width: 125px;
  line-height: 15px;
}

.house-info a {
  color: #28AFB0;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1px;
  display: inline;
  height: 20px;
}

.house-info a:hover {
  cursor: pointer;
}

.heart {
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.heart:hover {
  cursor: pointer;
}

button {
  padding: 0;
}

.option {
  display: flex;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 6px;
}

.gm-style-iw-d {
  overflow-x: hidden !important;
  
}

.gm-style-iw-c {
  padding-top: 0 !important;
}

.life-function {
  margin-bottom: 6px;
  margin-top: 6px;
}