/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

html,
body {
  /* height: 100%; */
  height: calc(100vh - 50px);
  width: 100%;
  margin: 0;
  padding: 0;
  /* display: none; */
}

body {
  /* background-image: url('./assets/background.jfif'); */
  /* background-color: bisque; */
  background-color: aliceblue;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  /* width: 100vw; */
  /* position: fixed; */
  border-bottom: 40px;
  background-color: white;
}

.logo {
  display: flex;
  /* margin-right: 500px; */

  margin-left: 30px;
}

.logo:hover {
  color: black;
}

.logo p {
  margin-top: 9px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
  /* font-family: '王漢宗中隸書繁' */
}

.blank {
  flex-grow: 1;
}

.nav {
  margin-right: 50px;
}

.nav a:hover {
  color: gray;
}

.nav div:hover {
  color: gray;
  cursor: pointer;
}

.like:hover {
  color: gray;
  cursor: pointer;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.search-field {
  height: 100px;
  width: 80%;
  display: flex;
  /* flex-wrap: wrap; */
  /* margin: 0 auto; */
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  border: #ccc;
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.1),
    2px 2px 4px rgba(60, 60, 60, 0.1);
}

.filters {
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  /* justify-content: center; */
}

.selects {
  /* height: 50px;
  width: 70%; */
  display: flex;
  /* flex-wrap: wrap; */
  margin: 5px 0 auto 10px;
  justify-content: space-around;
  align-items: center;
  /* border: #ccc; */
  /* border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.1),
    2px 2px 4px rgba(60, 60, 60, 0.1); */
}

/* .filter form {
  border: #ccc;
  border-radius: 50px;
  box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.1),
    2px 2px 4px rgba(60f, 60, 60, 0.1);
  margin: 30px 0;
} */

.filters-old {
  display: none;
}

.selects select {
  width: 130px;
  /* height: 35px; */
  /* height: 100%; */
  /* margin: 0 10px; */
  border-radius: 25px;
  /* border: none; */
  margin-left: 20px;
}

.selects select:hover {
  cursor: pointer;
}

.checks {
  display: flex;
  margin: 10px auto 0px;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.checks div {
  margin: 0 10px;
}

.checks label {
  margin-top: 2px;
}

.search {
  margin-left: 15px;
  margin-right: 25px;
  height: 60px;
  width: 60px;
  /* background-color: bisque; */
  /* background-color: rgba(127,255,21, 0.5); */
  /* background-color: darkkhaki; */
  background-color: #ffd7ae;
  /* background-color: #D9816F; */
  border-radius: 50%;
  box-shadow: 3px 3px 3px gray;
}

.search-non-active {
  box-shadow: 3px 3px 3px grey;
}

.search:active {
  box-shadow: 2px 2px 2px grey;
}

.search:hover {
  cursor: pointer;
}

/* .search img {
  margin-top: 15px;
  margin-left: 15px;
} */
.search img {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

#map {
  margin-top: 5px;
  height: 80%;
  /* height: 100vh; */
  width: 80%;
  /* margin: 10px auto; */
  /* margin:  auto; */
  margin-bottom: 15px;
}

/* Optional: Makes the sample page fill the window. */

.radio {
  display: none;
  position: absolute;
  top: calc(10% + 75px);
  z-index: 3;
  /* background-color: #EFC2CE; */
  /* background-color: #85A4B3; */
  background-color: #aeced2;
  border-radius: 300px;
  padding: 10px 10px 9px 20px;
  box-shadow: 3px 3px 3px gray;
}

.form-check {
  margin-top: 2px;
}

.radio label {
  margin-top: 3px;
}

/* .gm-style-iw + div {display: none;} */
/* button.gm-ui-hover-effect {
  visibility: hidden;
}
.gm-style-iw-d {
  overflow: hidden !important;
} */

/* loading */
.block {
  height: 500px;
  /* background-color: #AECED2; */
  /* background-color: rgb(139, 132, 131); */
  background-color: aliceblue;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
}

.blockUI {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.border-b {
  border: 2px solid black;
}

.block-full-w {
  width: 100%;
}

.spinner {
  display: none;
  position: fixed;
  top: calc(50vh - 100px + 50px);
  left: calc(50vw - 100px);
  z-index: 10;
  /* background-color: rgb(139, 132, 131); */
}
/* .loading {

  top: calc(50vh - 100px + 50px);
  left: calc(50vw - 100px);
  z-index: 10;
} */
